.u-section-1 .u-sheet-1 {
  min-height: 538px;
}

.u-section-1 .u-line-1 {
  margin-top: 1px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -2px auto 0 0;
  padding: 9px 44px 11px 43px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px auto 0 145px;
  padding: 10px 20px 11px;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px auto 0 289px;
  padding: 10px 30px 11px;
}

.u-section-1 .u-group-1 {
  min-height: 455px;
  margin-top: -4px;
  margin-bottom: 41px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 22px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px auto 0 16px;
}

.u-section-1 .u-form-1 {
  height: 344px;
  width: 1080px;
  margin: 18px 8px 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-top: -44px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 89px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 42px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 896px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 676px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 320px;
  }
}