.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 644px;
  margin: 0 585px 0 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  padding: 11px 31px 12px 30px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  margin: -103px auto 60px 194px;
  padding: 0 25px 0 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
    margin-right: 570px;
  }

  .u-section-1 .u-form-group-6 {
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    margin: -62px auto 60px 5px;
  }

  .u-section-1 .u-btn-2 {
    font-weight: normal;
    text-transform: none;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-form-group-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}